body {
  background-color: #333333;
}

/* FORM LOGIN */

.metro .form-login {
  position: absolute;
  width: 220px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  color: #fff;
}
.metro .form-login h2,
.metro .form-login div[class*="input-control checkbox"] {
  margin-bottom: 20px;
  color: #fff;
}
.metro .form-login a {
  position: absolute;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  display: inline-block;
  height: 28px;
  padding: 8px 0 0 8px;
}
.metro .form-login input[type="submit"] {
  background-color: #333333;
  color: #fff;
  border: 2px solid #fff;
  width: 80px;
}
.metro .form-login input[type="submit"]:hover {
  transition: 0.1s;
  background-color: #393939;
}

/* END */
