body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

/* FORM LOGIN */

.form-login {
  position: absolute;
  width: 330px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 20px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[id="inputLogin"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-login button[type="submit"] {
  margin-bottom: 10px;
}

/* END */
